@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great|EB+Garamond);
.older {
	list-style: decimal-leading-zero;
	margin: 0 auto;
	width: 660px;
	counter-reset: li;
}
.older li {
	border-bottom: dashed 1px #006699;
	margin-top: 10px;
	box-shadow:
		0 1px 4px rgba(0, 0, 0, 0.3),
		0 0 40px rgba(0, 0, 0, 0.1) inset;
	padding: 5px;
}
.app {
	text-align: center;
}
